
.ptp-posts-search-container form.ptp-posts-search {
    display: flex;
    flex-wrap: nowrap;
    max-width: 100%;
    margin-bottom: 1.618em;

    input[type="search"].ptp-posts-search-field {
        flex-grow: 1;
        min-width: 3em;
        font-size: inherit;
        font-family: inherit;
        line-height: inherit;
        margin-bottom: 0;
    }

    &.ptp-shortcode,
    &.ptp-single-content {
        input[type="search"].ptp-posts-search-field {
            max-width: 300px;
        }
    }

    button.button {
        padding: 0.375em 0.625em;
        margin: 0 0 0 0.625em;
        word-break: normal;
        font-size: inherit;
        font-family: inherit;
        line-height: inherit;
    }
}

/**
 * Theme specific styles
 */
 body.theme-enfold form.ptp-posts-search input.ptp-posts-search-field {
    margin-bottom: 0 !important;
 }

 body.theme-shoptimizer form.ptp-posts-search input.ptp-posts-search-field {
    padding: .5180469716em;
 }