$prefix: 'posts-table';
$table-class: '.posts-data-table';
$icon-font-path: '../../dependencies/barn2/barn2-lib/assets/fonts';

@import "../../vendor/barn2/datatables/assets/scss/index";
@import "main";
